<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/holistic/holistic.js" crossorigin="anonymous"></script>
  <style>
    .results {
      position: absolute;
      top: 10px;
      left: 10px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      border-radius: 5px;
      font-family: Arial, sans-serif;
      z-index: 10; /* Ensure it appears above the video */
    }
  </style>
</head>

<body>
  <div class="container">
    <video class="input_video"></video>
    <canvas class="output_canvas" width="1280px" height="720px"></canvas>
    <div class="results" id="results"></div> <!-- New results div -->
  </div>
</body>
</html>
<script type="module">
    const videoElement = document.getElementsByClassName('input_video')[0];
    const canvasElement = document.getElementsByClassName('output_canvas')[0];
    const canvasCtx = canvasElement.getContext('2d');
    const resultsDiv = document.getElementById('results'); // Reference to results div
    
    const emptyarray = [
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0}
    ]

    const hand_emptyarray = [
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0},
      {'x':0,'y':0,'z':0,'visibility': 0}
    ]

    function onResults(results) {
      canvasCtx.save();
      canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
      
      //Draws a red haze around the model (removes segmentation mask)
      //canvasCtx.drawImage(results.segmentationMask, 0, 0,
      //                    canvasElement.width, canvasElement.height);
    
      //draws a green haze around existing pixels
      // Only overwrite existing pixels.
      // canvasCtx.globalCompositeOperation = 'source-in';
      // canvasCtx.fillStyle = '#00FF00';
      // canvasCtx.fillRect(0, 0, canvasElement.width, canvasElement.height);
    
      // Only overwrite missing pixels.

      canvasCtx.globalCompositeOperation = 'destination-atop';
      canvasCtx.drawImage(
          results.image, 0, 0, canvasElement.width, canvasElement.height);
    
      canvasCtx.globalCompositeOperation = 'source-over';
      drawConnectors(canvasCtx, results.poseLandmarks, POSE_CONNECTIONS,
                     {color: '#00FF00', lineWidth: 4});
      drawLandmarks(canvasCtx, results.poseLandmarks,
                    {color: '#FF0000', lineWidth: 2});
      drawConnectors(canvasCtx, results.leftHandLandmarks, HAND_CONNECTIONS,
                     {color: '#CC0000', lineWidth: 5});
      drawLandmarks(canvasCtx, results.leftHandLandmarks,
                    {color: '#00FF00', lineWidth: 2});
      drawConnectors(canvasCtx, results.rightHandLandmarks, HAND_CONNECTIONS,
                     {color: '#00CC00', lineWidth: 5});
      drawLandmarks(canvasCtx, results.rightHandLandmarks,
                    {color: '#FF0000', lineWidth: 2});
      canvasCtx.restore();

      // Output results to the HTML page
      outputResults(results);
    }

    function outputResults(results) {

      const getLandmarkWithVisibility = (landmark) => (
        {
        x: landmark.x || 0,
        y: landmark.y || 0,
        z: landmark.z || 0,
        visibility: landmark.visibility || 0 
        });

       // Prepare the data to send
       const dataToSend = {
        keypoints: [
      ...(results.poseLandmarks || emptyarray).map(getLandmarkWithVisibility),
      ...(results.leftHandLandmarks || hand_emptyarray).map(getLandmarkWithVisibility),
      ...(results.rightHandLandmarks || hand_emptyarray).map(getLandmarkWithVisibility)
          ]};

      // Send the data to the Flask backend
      fetch('http://127.0.0.1:5000/api/keypoints', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify(dataToSend), // Convert data to JSON
      })
      .then(response => response.json())
      .then(data => {
          console.log('Success:', data);
      })
      .catch((error) => {
          console.error('Error:', error);
      });

      // Prepare text for output
      let outputText = '<strong>Landmark Coordinates:</strong><br>';
      
      // Check if pose landmarks exist
      if (results.poseLandmarks) {
          results.poseLandmarks.forEach((landmark, index) => {
              outputText += `Pose Landmark ${index}: (X: ${landmark.x.toFixed(3)}, Y: ${landmark.y.toFixed(3)}, Z: ${landmark.z.toFixed(3)})<br>`;
          });
      }
      
      // Check if left hand landmarks exist
      if (results.leftHandLandmarks) {
        outputText += '<br><strong>Left Hand Landmarks:</strong><br>';
        results.leftHandLandmarks.forEach((landmark, index) => {
          outputText += `Left Hand Landmark ${index}: (X: ${landmark.x.toFixed(3)}, Y: ${landmark.y.toFixed(3)}, Z: ${landmark.z.toFixed(3)})<br>`;
        });
      }
      
      // Check if right hand landmarks exist
      if (results.rightHandLandmarks) {
        outputText += '<br><strong>Right Hand Landmarks:</strong><br>';
        results.rightHandLandmarks.forEach((landmark, index) => {
          outputText += `Right Hand Landmark ${index}: (X: ${landmark.x.toFixed(3)}, Y: ${landmark.y.toFixed(3)}, Z: ${landmark.z.toFixed(3)})<br>`;
        });
      }
      
      // Update the results div with the output text
      resultsDiv.innerHTML = outputText;
    }

    const holistic = new Holistic({locateFile: (file) => {
      return `https://cdn.jsdelivr.net/npm/@mediapipe/holistic/${file}`;
    }});
    holistic.setOptions({
      modelComplexity: 1,
      smoothLandmarks: true,
      enableSegmentation: true,
      smoothSegmentation: true,
      minDetectionConfidence: 0.5,
      minTrackingConfidence: 0.5
    });
    holistic.onResults(onResults);
    
    const camera = new Camera(videoElement, {
      onFrame: async () => {
        await holistic.send({image: videoElement});
      },
      width: 1280,
      height: 720
    });
    camera.start();
    </script>